{:site-title       "Cryogen"
 :author           "Carmen La"
 :description      "Cryogen's Docs"
 :site-url         "http://lacarmen.github.io/"
 :post-root        "posts"
 :tag-root         "tags"
 :page-root        "docs"
 :blog-prefix      "/cryogen"
 :rss-name         "feed.xml"
 :recent-posts     3
 :post-date-format nil
 :sass-src         nil
 :sass-dest        nil
 :resources        ["css" "img" "js" "404.html"]
 :keep-files       [".git"]
 :disqus?          false
 :disqus-shortname ""}