<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{{title}}{% block subtitle %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/styles/default.min.css">
    <link href='http://fonts.googleapis.com/css?family=Alegreya:400italic,700italic,400,700' rel='stylesheet'
          type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    {% style "css/screen.css" %}
</head>
<body>

<div class="container">
    <header>
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5">
                <a href="{{index-uri}}"><img height="120px" src="/img/logo.png"/><h1>{{title}}</h1></a>
                <h2 id="slogan" class="faint">Static site generation made easy</h2>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7">
                <nav>
                    <ul id="menu" class="nav nav-pills navbar-right">
                        <li><a href="{{index-uri}}">Home</a></li>
                        <li><a href="/docs/home.html">Doc<span class="show-on-mobile">s</span><span class="hide-on-mobile">umentation</span></a></li>
                        <li><a href="https://github.com/lacarmen/cryogen"><span class="hide-on-mobile">View on </span>Github</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div style="font-size:65px; text-align: center; line-height: 70px;">Happy <br> Birthday</div>
    <div id="main" class="row">
        {% block content %}
        {% endblock %}
    </div>
    <hr>

    <footer class="text-center text-muted">
        <p>Copyright &copy; 2014 Carmen La</p>

        <p>Powered by <a href="https://github.com/lacarmen/cryogen">Cryogen</a></p>
    </footer>
</div>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
{% script "js/main.js" %}
{% script "js/highlight.pack.js" %}
<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
