body {
    font-family: 'Alegreya', serif;
}
.container {
    max-width: 978px;
}
header h1 {
    font-size: 60px;
}
.desc {
    font-size: 42px;
}

#main {
    font-size: 21px;
    line-height: 31px;
}



@media screen and (min-width: 992px) {
    .show-on-mobile {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .hide-on-mobile {
        display: none;
    }
}

@media screen and (max-width: 767px) {

    header {
        text-align: center;
        width: auto;
        margin: auto;
    }
    .nav>ul {
        text-align: center;
        float: none!important;
    }

    .nav>li {
        display: table-cell;
    }

}
