body {
    font-family: 'Alegreya', serif;
    border-top: 5px solid #428bca;
}

.container {
    max-width: 978px;
}

.left {
    float: left;
    text-align: left;
}
.right {
    float: right;
    text-align: right;
}

header {
    margin-top: 20px;
}
header h1 {
    display: none;
}

header h2#slogan {
    font-size: 20px;
    margin-top: 0;
}

.nav-pills > li > a {
    border-radius: 0;
}

.nav > li {
    margin: 5px;
}

.nav > li > a {
    font-size: 18px;
    padding: 5px 10px;;
    transition: all 0.3s ease-out;
}

.nav > li > a:hover {
    background: none;
    border-bottom: 5px solid #428bca;
    transition: all 0.3s ease-out;
}

.selected {
    border-bottom: 5px solid #428bca;
}

#main {
    font-size: 21px;
    line-height: 28px;
}

#perks {
    margin-top: 40px;
    background-color: #F7F9FD;
}

.instructions {
    margin-top: 10px;
}

.shell {
    font-size: 16px;
    padding: 0;
}

.shell .title {
    font-family: 'Arial';
    text-align: center;
    padding: 5px 0;
    margin: 0;
}

.shell code {
    padding: 10px;
    color: #fff;
    background-color: #3d3d3d;
}

.shell code span.dir {
    color: #3ecddf;
}

.shell code span.cmd {
    color: #e1e100;
}

#content {
    font-size: 18px;
    line-height: 20px;
}

#reading-pane {
    background-color: #F7F9FD;
    border-radius: 10px;
}

#prev-next a {
    margin-bottom: 20px;
}

#topics {
    font-size: 16px;
    line-height: 20px;
}

@media screen and (min-width: 768px) {
    nav {
        margin-top: 40px;
    }
    #perks {
        border: 1px solid #78cfe9;
    }
}

@media screen and (min-width: 992px) {
    .show-on-mobile {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .hide-on-mobile {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    header {
        text-align: center;
        margin-top: 20px;
    }

    .nav > ul {
        text-align: center;
        float: none !important;
    }

    .nav > li {
        display: table-cell;
    }

    #main {
        font-size: 18px;
        line-height: 25px;
    }
    #main h2 {
        font-size: 150%;
    }
    #perks {
        border-top: 1px solid #78cfe9;
        border-bottom: 1px solid #78cfe9;
    }
}

/* EXTRAS */
.faint {
    opacity: .6;
}