body {
    font-family: 'Alegreya', serif;
    border-top: 5px solid #428bca;
}

p {
    margin-bottom:20px;
    object-fit: contain;
}

.container {
    max-width: 1200px;
}

.left {
    float: left;
    text-align: left;
}
.right {
    float: right;
    text-align: right;
}

header {
    margin-top: 20px;
}
header h1 {
    display: none;
}
header img {
    margin-left: -25px;
}

header h2#slogan {
    font-size: 20px;
    margin-top: 0;
}

.nav-pills > li > a {
    border-radius: 0;
}

.nav > li {
    margin: 5px;
}

.nav > li > a {
    font-size: 18px;
    padding: 5px 10px;;
    transition: all 0.3s ease-out;
}

.nav > li > a:hover {
    background: none;
    border-bottom: 5px solid #428bca;
    transition: all 0.3s ease-out;
}

.selected {
    border-bottom: 5px solid #428bca;
}

#main {
    margin-top: 40px;
    font-size: 21px;
    line-height: 28px;
}

#perks {
    background-color: #F7F9FD;
}

.instructions {
    margin-top: 10px;
}

.shell {
    font-size: 16px;
    padding: 0;
}

.shell .title {
    font-family: 'Arial';
    text-align: center;
    padding: 5px 0;
    margin: 0;
}

.shell code {
    padding: 10px;
    color: #fff;
    background-color: #3d3d3d;
}

.shell code span.dir {
    color: #3ecddf;
}

.shell code span.cmd {
    color: #e1e100;
}

#reading-pane {
    background-color: #F7F9FD;
    border-radius: 10px;
    font-size: 19px;
    line-height: 22px;
}

#reading-pane em {
    font-family: Arial;
    font-size: 17px;
}

#prev-next a {
    margin-bottom: 20px;
}

#topics h4 {
    font-size: 20px;
    display: inline-block;
    padding: 0 3px 5px 15px;
    margin-top: 15px;
    margin-left: -15px;
    border-bottom: 3px solid #428bca;
}
#topics ul {
    font-size: 16px;
    line-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#topics a {
    color: #333;
}

#news h4 {
    font-size: 20px;
    display: inline-block;
    padding: 0 3px 5px 20px;
    margin-top: 15px;
    margin-left: -15px;
    border-bottom: 3px solid #428bca;
}
#news ul {
    font-size: 16px;
    line-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#news a {
    color: #333;
}

#post-header h1 {
    margin-bottom:0px;
}
.date {
    font-size: 18px;
    margin-bottom: 20px;
}

img {
    width: 100%;
    height: auto;
}

footer {
    border-top: 1px solid #eee;
    padding-top: 20px;
    margin-top: 70px;
}

pre,
.hljs {
    background: #F7F9FD;
}

.hljs-literal,
.hljs-comment {
    color: #333;
}

code {
    color: #428bca;
    background: none;
}

@media (min-width: 768px) {
    nav {
        margin-top: 50px;
    }
    #perks {
        border: 1px solid #78cfe9;
    }
}

@media (min-width: 992px) {
    .show-on-mobile {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .hide-on-mobile {
        display: none;
    }
}

@media (max-width: 767px) {
    header {
        text-align: center;
        margin-top: 20px;
    }

    ul#menu {
        text-align: center;
        display: inline-block;
    }

    #main {
        font-size: 18px;
        line-height: 25px;
        padding: 10px;
    }
    #main h2 {
        font-size: 150%;
    }
    #perks {
        border-top: 1px solid #78cfe9;
        border-bottom: 1px solid #78cfe9;
    }
}

/* EXTRAS */
.faint {
    opacity: .6;
}